.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.App {
  padding: 1em;
  min-height: 100vh;
  background-color: #ececec;
}

.panel {
  background-color: #fdf9f9;
  padding: 1em;
  border-radius: 5px;
}