#login-dropdown-list {
    left: -155px;

    .login-close-text {
        float: right;
    }
}

.fake-link {
    cursor: pointer;
    color: #0056b3;
}

.fake-link:hover {
    text-decoration:underline;
}

.error-message {
    color: red;
}